/* Write your global styles here, in SCSS syntax */
$theme-colors: (
  "primary": #1A4D25,
  "secondary": #0077B6,
  "success": #0f5132,
  "danger": #842029,
);

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Shrikhand-Regular';
  src: url('/fonts/Shrikhand-Regular.ttf') format('truetype');
}

@import 'bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Poppins-Regular', sans-serif;
}

#map {
    min-width: calc(100% - 300px);
    height: 600px;
}

#map-table {
    height: 600px;
}

#map-container {
    display: flex;
}

#collapse-button {
    visibility: hidden;
}

div.eventbox {
    a {
        color: white;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}


@include media-breakpoint-down(lg) {
    nav {
        position: fixed !important;
        background-color: white;
        width: 100%;
        z-index: 10000;
    }

    #under-nav {
        padding-top: 56.5px;
    }

    #collapse-button {
        visibility: visible;
    }
}

@include media-breakpoint-down(sm) {
    #map {
        height: 300px;
        width: 100%;
    }

    #map-container {
        display: block !important;
    }

    #map-table {
        height: 300px;
    }
}
