/* Write your global styles here, in SCSS syntax */
$theme-colors: (
  "primary": #065F46,
  "secondary": #1E40AF,
);

@import 'bootstrap/scss/bootstrap.scss';

@include media-breakpoint-down(lg) {
    nav {
        position: fixed !important;
        background-color: white;
        width: 100%;
        z-index: 1;
    }

    #under-nav {
        padding-top: 56.5px;
    }
}
